In [20]:
## imports
import pandas as pd
import numpy as np
import re

In [24]:
### load raw data from data folder

housing_listings_na = pd.read_csv('../data/listings_NA.csv')
norways_listings = pd.read_csv('../data/realestate.csv')



### clean zillow listings
### remove any columns not related to address, price or area in na listings
na_cols = ['price', 'address', 'area']
housing_listings_na = housing_listings_na[na_cols]
housing_listings_na['price'] = housing_listings_na['price'].str.replace('$', '').str.replace(',', '').str.replace('From', '').str.replace('K', '000')
norways_listings['price'] = norways_listings['price'].str.replace('Totalpris:', '').str.replace(' ', '').str.replace(',', '')


### assign country to each listing in na listings

countries = []
for address in housing_listings_na['address']:
    try:
        if 'Vancouver' in address:
            countries.append('Canada')
        else :
            countries.append('USA')
    except:
        countries.append('USA')
        continue
housing_listings_na['country'] = countries
norways_listings['country'] = 'Norway'





### convert listings to euros

def price_converter(row):
    if row['country'] == 'USA':
        return float(row['price']) * 0.91
    elif row['country'] == 'Canada':
        return float(row['price']) * 0.67
    else:
        return float(row['price']) * 0.086

housing_listings_na['price'] = housing_listings_na.apply(price_converter, axis=1)
norways_listings['price'] = norways_listings.apply(price_converter, axis=1)

print(housing_listings_na.head())

KeyError: 'price'

In [19]:
for price in housing_listings_na['price']:
    if 'From' in price:
        print(price)

From 449000
From 227000
From 410000
From 135000
From 265000
From 475000
From 294900
From 195000
From 165000
From 325000
From 299900
From 299900
From 135000
From 279900
From 249900
From 359900
From 329900
From 449900
From 299900
From 395000
From 75000
From 345000
From 139999
From 460000
From 986000
From 249900
From 109500
From 259000
From 165000
From 215000
From 147500
From 677900
From 270000
From 624000
From 549900
From 370900
From 129500
From 369995
From 199900
From 218225
From 553900
From 799000
From 550625
From 315000
From 396000
From 489900
From 798900
From 1009000
From 520000
From 479900
From 564900
From 5750000
From 125000
From 499999
From 449000
From 6450000
From 475000
From 379999
From 15750000
From 379000
From 1250000
From 3300000
From 375000
From 599000
From 2390000
From 349000
From 1445000
From 3590000
From 149000
From 225000
From 785000
From 199999
From 320000
From 7195000
From 200000
From 4975000
From 575000
From 229000
From 3050000
From 268000
From 389000
From 695000
From 4550000
From 649000
From 228000
From 725000
From 230000
From 1600000
From 650000
From 235000
From 525000
From 325000
From 475000
From 1745000
From 429888
From 695000
From 159900
From 269999
From 1300000
From 250000
From 395000
From 295000
From 268000
From 579000
From 185000
From 165086
From 1398000
From 599000
From 1350000
From 1350000
From 1300000
From 399000
From 238999
From 99000
From 279000
From 189000
From 159000
From 875000
From 585000
From 215000
From 3650000
From 895000
From 349000
From 750000
From 340000
From 250000
From 1195000
From 1075000
From 415000
From 639900
From 385000
From 235000
From 107000
From 799900
From 435000
From 400000
From 90000
From 389000
From 158000
From 325000
From 379000
From 499999
From 399000
From 400000
From 339000
From 999900
From 229000
From 224500
From 449000
From 139900
From 279900
From 215000
From 650000
From 270000
From 259900
From 649000
From 319000
From 325000
From 965000
From 549000
From 425000
From 323500
From 252000
From 459990
From 315000
From 369900
From 409900
From 230000
From 545000
From 234900
From 330000
From 299900
From 185000
From 679000
From 850000
From 215000
From 499900
From 550000
From 610000
From 415000
From 399000
From 549000
From 205000
From 424900
From 275000
From 1675000
From 289315
From 287000
From 449500
From 699900
From 250000
From 252000
From 700000
From 425000
From 465000
From 1049000

In [23]:
norways_listings

,prices,adresses,sqm,city,country
0,Totalpris: 3 147 570,"Vadmyrveien 18, Loddefjord",175,Bergen,Norway
1,Totalpris: 3 493 885,"Michael Krohns gate 54, Bergen",80,Bergen,Norway
2,Totalpris: 2 563 750,"Lille Damsgårdsveien 53, Laksevåg",58,Bergen,Norway
3,Totalpris: 3 472 126,"Apeltunhaugene 179, Rådal",48,Bergen,Norway
4,Totalpris: 2 479 293,"Nattlandsveien 96B, Bergen",68,Bergen,Norway
...,...,...,...,...,...
4445,Totalpris: 14 031 712,"Anna Haarsakers veg 11-H0803 Snr.31, Trondheim",134,Trondheim,Norway
4446,Totalpris: 12 028 582,"Anna Haarsakers veg 11-H0804 Snr.32, Trondheim",110,Trondheim,Norway
4447,Totalpris: 6 436 872,"Nedre Stavsetvegen, Trondheim",124,Trondheim,Norway
4448,Totalpris: 5 545 342,"Andersbakkan 83 - H0301, Heimdal",78,Trondheim,Norway
4449,Totalpris: 6 600 000,"Ilevollen 3D, Trondheim",135,Trondheim,Norway